// Icons custom styles

[data-icon]:before {
    font-family: "iconFont" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "iconFont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*=icon-] {
    display: inline-block;
    backface-visibility: hidden;
    padding: 1px;
}

//.icon-xxxxx      { font-size: 1em; &:before { content: "\xxxx"; font-size: to-em(); } }

.icon-phone-call:before { content: "\E000"; }
.icon-arrow-down:before { content: "\E001"; }
.icon-email:before { content: "\E002"; }