include ../templates/head
body
    .wrapper
        +header
        main.content
            .container.m-gap
                h2.h2.-underline Form
                .nf-form-content
                    nf-fields-wrap
                        .row.m-gap
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.checkbox-container.label-right
                                        .nf-field
                                            .field-wrap.checkbox-wrap
                                                .nf-field-label
                                                    label(for='nf-field-5')
                                                        | Single Checkbox
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    input#nf-field-5.ninja-forms-field.nf-element(type='checkbox' value='1')
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.listcheckbox-container.label-above.list-container
                                        .nf-field
                                            #nf-field-7-wrap.field-wrap.listcheckbox-wrap.list-wrap.list-checkbox-wrap(data-field-id='7')
                                                .nf-field-label
                                                    label()
                                                        | Checkbox List
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    ul(aria-describedby='nf-error-7')
                                                        li
                                                            input#nf-field-7-0.ninja-forms-field.nf-element(type='checkbox', name='nf-field-7', value='one')
                                                            label(for='nf-field-7-0') One
                                                        li
                                                            input#nf-field-7-1.ninja-forms-field.nf-element(type='checkbox', name='nf-field-7', value='two')
                                                            label(for='nf-field-7-1') Two
                                                        li
                                                            input#nf-field-7-2.ninja-forms-field.nf-element(type='checkbox', name='nf-field-7', value='three')
                                                            label(for='nf-field-7-2') Three
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.listradio-container.label-above.list-container
                                        .nf-field
                                            .field-wrap.listradio-wrap.list-wrap.list-radio-wrap(d)
                                                .nf-field-label
                                                    label()
                                                        | Radio List
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    ul()
                                                        li
                                                            input#nf-field-9-0.ninja-forms-field.nf-element(type='radio', name='nf-field-9', value='one')
                                                            label(for='nf-field-9-0') One
                                                        li
                                                            input#nf-field-9-1.ninja-forms-field.nf-element(type='radio', name='nf-field-9', value='two')
                                                            label(for='nf-field-9-1') Two
                                                        li
                                                            input#nf-field-9-2.ninja-forms-field.nf-element(type='radio', name='nf-field-9', value='three')
                                                            label(for='nf-field-9-2') Three
                        .row.m-gap
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.listmultiselect-container.label-above.list-container
                                        .nf-before-field
                                            nf-section
                                        .nf-field
                                            .field-wrap.listmultiselect-wrap.list-wrap.list-multiselect-wrap(data-field-id='8')
                                                .nf-field-label
                                                    label(for='nf-field-8')
                                                        | Multi-Select
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    select.ninja-forms-field.nf-element(name='nf-field-8', multiple='', size='5')
                                                        option(value='one') One
                                                        option(value='two') Two
                                                        option(value='three') Three
                            .col-4.col-sm-12
                                nf-field
                                    #nf-field-10-container.nf-field-container.listselect-container.label-above.list-container
                                        .nf-before-field
                                            nf-section
                                        .nf-field
                                            #nf-field-10-wrap.field-wrap.listselect-wrap.list-wrap.list-select-wrap(data-field-id='10')
                                                .nf-field-label
                                                    label(for='nf-field-10')
                                                        | Select
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    select#nf-field-10.ninja-forms-field.nf-element(name='nf-field-10', aria-invalid='false', aria-describedby='nf-error-10')
                                                        option(value='one', selected='selected') One
                                                        option(value='two') Two
                                                        option(value='three') Three
                                                    div(for='nf-field-10')
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.textarea-container.label-above
                                        .nf-before-field
                                            nf-section
                                        .nf-field
                                            .field-wrap.textarea-wrap(data-field-id='12')
                                                .nf-field-label
                                                    label(for='nf-field-12')
                                                        | Paragraph Text
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    textarea#nf-field-12.ninja-forms-field.nf-element(name='nf-field-12', aria-invalid='true', aria-describedby='nf-error-12')
                                        .nf-after-field
                        .row
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.textbox-container.label-above
                                        .nf-before-field
                                            nf-section
                                        .nf-field
                                            .field-wrap.textbox-wrap(data-field-id='13')
                                                .nf-field-label
                                                    label(for='nf-field-13')
                                                        | Single Line Text
                                                        span.ninja-forms-req-symbol
                                                .nf-field-element
                                                    input#nf-field-13.ninja-forms-field.nf-element(name='nf-field-13', aria-invalid='true', aria-describedby='nf-error-13', type='text', value='')
                            .col-4.col-sm-12
                                nf-field
                                    .nf-field-container.textbox-container.label-above
                                        .nf-before-field
                                            nf-section
                                        .nf-field
                                            .field-wrap.textbox-wrap.nf-fail.nf-error(data-field-id='13')
                                                .nf-field-label
                                                    label(for='nf-field-13')
                                                        | Single Line Text
                                                        span.ninja-forms-req-symbol *
                                                .nf-field-element
                                                    input#nf-field-14.ninja-forms-field.nf-element(name='nf-field-13', aria-invalid='true', aria-describedby='nf-error-13', type='text', value='')
                                        .nf-after-field
                                            nf-section
                                                .nf-input-limit
                                                #nf-error-14.nf-error-wrap.nf-error(role='alert')
                                                    .nf-error-msg.nf-error-required-error This is a required field.
        +footer
include ../templates/scripts










