[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea{
    border: none;
    border-radius: 0;
    padding: 0.4em 0.5em;
    font-size: $base-font-size;
}

input[readonly]{
    cursor: not-allowed;
}

.form-block {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;

    &_left {
        flex: 0 0 125px;

        &.-s {
            flex-basis: 70px;
        }

        &.-l {
            flex-basis: 145px;
        }

        label {
            margin-bottom: 0;
        }
    }

    &_right {
        flex: 1 1 auto;
    }

    @include media(xs) {
        display: flex;
        flex-flow: row wrap;

        .form-group_left {
            flex-basis: 100%;
        }

        label {
            margin-bottom: 7px;
        }
    }

    &_small {
        @include media(sm) {
            display: flex;
            flex-flow: row wrap;

            .form-group_left {
                flex-basis: 100%;
            }

            label {
                margin-bottom: 7px;
            }
        }
    }
}