html
    include ./templates/head
    body
        +top-banner-bar
        .wrapper
            +header()
            main.content
                .container
                    .content-heading.row.no-gutters.m-gap
                        .heading.h3.primary-text О Нас
                    section
                        .card.-form
                            .card_header
                                .card_title Преимущества нашего такси в Аэропорту Симферополя:
                            .card_content.card_pd.text-content
                                ul
                                    li Ожидание в аэропорту Симферополя <strong style="color: #246caa">БЕСПЛАТНО</strong>
                                    li Багаж <strong style="color: #246caa">БЕСПЛАТНО</strong>
                                    li WI-FI в машине <strong style="color: #246caa">БЕСПЛАТНО</strong>
                                    li Цены фиксированные и никаких дополнительных затрат
                                    li В нашей фирме более 1000  машин
                                    li Комфорт бизнесс кдасса с кондиционером
                                    li Забронируйте поездку в обе стороны и получите скидку от 100руб до 500руб!
                    section.text-content.m-gap
                        blockquote Наши цены на трансфер по Крыму из аэропорта Симферополя обрадуют Вас. TAXI такси Симферополь - Аэропорт осуществляет перевозки по Крыму.
                            | Наше недорогое такси будет отличным решением в Вашей поездке из/в аэропорт Симферополь из/в любые города Крыма, такие как Симферополь, Ялта, Севастополь, Евпатория, Алушта, Форос, Феодосия, Судак, Керчь и многих др. городов Крыма. А окончательную стоимость уточняйте у диспетчера.
                    section.m-gap
                        .card.-form
                            .card_header
                                .card_title В нашем такси:
                            .card_content.card_pd.text-content
                                ul
                                    li Фиксированная цена!
                                    li Только иномарки
                                    li Авто с кондиционером
                                    li Подача точно вовремя
                                    li Отслеживаем авиарейсы
                                    li Время подачи от 10мин.
                                    li Детское кресло
            +footer
            +feedback
    include ./templates/scripts










