mixin header-logo()
    .navbar-logo
        a.navbar-logo_link(href="/")
            img(src="img/logo.png" alt="")
        .navbar-logo-text
            span.navbar-logo-label 24/7
            span.navbar-logo-sub-label сервис вызова авто
