.card-row{
    display: flex;
}

.card{
    flex: 1;
    display: flex;
    flex-direction: column;

    &.-frame{
        padding: 25px;
        background: $light;
    }

    &.-solid{
        position: relative;
        color: $light;
        justify-content: flex-end;
        min-height: 350px;
        padding: 25px;

        .card_title {
            color: $light;
        }

        .card_image{
            @include overlay;

            &:after{
                content: '';
                @include overlay;
                background: rgba($dark, .7);
            }
        }
    }

    &.-form {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
        background: $light;

        .card_title {
            font-size: 18px;
            line-height: 45px;
            height: 45px;
            margin-bottom: 0;
            font-weight: 500;
            position: relative;
        }

        .card_content {
            border-top: 1px solid $gray-light;
            margin-top: -1px;
            margin-bottom: 0;
        }
    }

    &_header {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        border-left: 3px solid $gray;
        padding: 0 32px;

        &.-primary {
            border-left: 3px solid $primary-color;
        }
    }

    &_image{
        @include bg;
        min-height: 250px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-width: 60%;
            max-height: 60%;
        }
    }

    .card_title {
        color: $primary-color;
        position: relative;
    }

    &_content{
        margin-bottom: 15px;
        flex: 1 1 auto;
        position: relative;
    }

    &_row {
        margin: 5px 0;
        padding: 0 32px;
    }

    &_pd {
        padding-top: 15px;
        padding-bottom: 5px;
    }
    
    &_btn{
        align-self: flex-start;
    }
}