mixin table()
    table.cool-table(data-module="highlightTable")
        thead
            tr.head
                th(data-col="col1")
                th(data-col="col2") Sunday
                th(data-col="col3") Monday
                th(data-col="col4") Tuesday
                th(data-col="col5") Wednesday
                th(data-col="col6") Thursday
                th(data-col="col7") Friday
                th(data-col="col8") Saturday
        tbody
            tr
                td(data-col="col1") Lawrence Scott
                td(data-col="col2") 8:00 AM
                td(data-col="col3") --
                td(data-col="col4") --
                td(data-col="col5") 8:00 AM
                td(data-col="col6") --
                td(data-col="col7") 5:00 PM
                td(data-col="col8") 8:00 AM

            tr
                td(data-col="col1") Jane Medina
                td(data-col="col2") --
                td(data-col="col3") 5:00 PM
                td(data-col="col4") 5:00 PM
                td(data-col="col5") --
                td(data-col="col6") 9:00 AM
                td(data-col="col7") --
                td(data-col="col8") --

            tr
                td(data-col="col1") Billy Mitchell
                td(data-col="col2") 9:00 AM
                td(data-col="col3") --
                td(data-col="col4") --
                td(data-col="col5") --
                td(data-col="col6") --
                td(data-col="col7") 2:00 PM
                td(data-col="col8") 8:00 AM

            tr
                td(data-col="col1") Beverly Reid
                td(data-col="col2") --
                td(data-col="col3") 5:00 PM
                td(data-col="col4") 5:00 PM
                td(data-col="col5") --
                td(data-col="col6") 9:00 AM
                td(data-col="col7") --
                td(data-col="col8") --

            tr
                td(data-col="col1") Tiffany Wade
                td(data-col="col2") 8:00 AM
                td(data-col="col3") --
                td(data-col="col4") --
                td(data-col="col5") 8:00 AM
                td(data-col="col6") --
                td(data-col="col7") 5:00 PM
                td(data-col="col8") 8:00 AM

            tr
                td(data-col="col1") Sean Adams
                td(data-col="col2") --
                td(data-col="col3") 5:00 PM
                td(data-col="col4") 5:00 PM
                td(data-col="col5") --
                td(data-col="col6") 9:00 AM
                td(data-col="col7") --
                td(data-col="col8") --

            tr
                td(data-col="col1") Rachel Simpson
                td(data-col="col2") 9:00 AM
                td(data-col="col3") --
                td(data-col="col4") --
                td(data-col="col5") --
                td(data-col="col6") --
                td(data-col="col7") 2:00 PM
                td(data-col="col8") 8:00 AM

            tr
                td(data-col="col1") Mark Salazar
                td(data-col="col2") 8:00 AM
                td(data-col="col3") --
                td(data-col="col4") --
                td(data-col="col5") 8:00 AM
                td(data-col="col6") --
                td(data-col="col7") 5:00 PM
                td(data-col="col8") 8:00 AM