script(src="js/libs.js")
script(src="js/main.js")
script.
    $('[data-toggle="datepicker"]').datepicker({
        language: (window.navigator.languages) ? window.navigator.languages[0] : window.navigator.language,
        format: 'yyyy-mm-dd',
        startDate: new Date()
    });
    $('[data-toggle="wickedpicker"]').wickedpicker({
        twentyFour: true,
        title: ''
    });
