@font-face {
	font-family: 'iconFont';
	src: url('iconFont.eot?1524590370');
	src: url('iconFont.eot?1524590370#iefix') format('embedded-opentype'),
		 url('iconFont.svg?1524590370#iconFont') format('svg'),
		 url('iconFont.woff?1524590370') format('woff'),
		 url('iconFont.woff?1524590370') format('woff2'),
		 url('iconFont.ttf?1524590370') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "iconFont" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "iconFont" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*----icon classes-----*/

.icon-phone-call:before { content: "\E000"; }
.icon-arrow-down:before { content: "\E001"; }
.icon-email:before { content: "\E002"; }
