mixin header()
    header.header(data-module="header")
        .navbar-wrap
            .navbar.navbar_full-width(data-js='navbar')
                .container
                    .row.-around.no-gutters.navbar-inner
                        .navbar_block.navbar_panel
                            +logo({})
                            button.menu-btn.btn-pure
                                +hamburger
                        .navbar_block.navbar_contact-box-wrap
                            .contact-box
                                i.icon.thin-icon-phone-call
                                dl
                                    dt Позвоните Нам:
                                    dd
                                    a(href="callto:#") +7(978) xxx xx xx
                        .navbar_block.navbar_nav-wrap
                            +menu({
                                mobile: true,
                                data: [
                                    {
                                        title: 'Заказ такси',
                                        link: 'home.html',
                                        active: true
                                    },
                                    {
                                        title: 'Тарифы',
                                        link: 'rates.html'
                                    },
                                    {
                                        title: 'Автопарк',
                                        link: 'autopark.html'
                                    },
                                    {
                                        title: 'Наши услуги',
                                        link: 'services.html'
                                    },
                                    {
                                        title: 'О нас',
                                        link: 'about.html'
                                    },
                                    {
                                        title: 'Контакты',
                                        link: 'contacts.html'
                                    }
                                ]
                            })
            .navbar.navbar_is-sticky.navbar_full-width(data-js='navbarSticky')
                .container
                    .row.-around.no-gutters.navbar-inner
                        .navbar_block.navbar_panel
                            +logo({})
                        .navbar_block.navbar_contact-box-wrap
                            .contact-box
                                i.icon.icon-phone-call
                                dl
                                    dt Позвоните Нам:
                                    dd
                                    a(href="callto:#") +7(978) xxx xx xx
                        .navbar_block.navbar_nav-wrap
                            +menu({
                                mobile: false,
                                data: [
                                    {
                                        title: 'Заказ такси',
                                        link: '/',
                                        active: true
                                    },
                                    {
                                        title: 'Тарифы',
                                        link: '/'
                                    },
                                    {
                                        title: 'Автопарк',
                                        link: '/'
                                    },
                                    {
                                        title: 'Наши услуги',
                                        link: '/'
                                    },
                                    {
                                        title: 'О нас',
                                        link: '/'
                                    },
                                    {
                                        title: 'Контакты',
                                        link: '/'
                                    }
                                ]
                            })